# modified from https://github.com/MathieuSoysal/Javadoc-publisher.yml

name: Publish Javadoc

on:
  push:
    branches:
      - dev
permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Publish JavaDoc
        uses: MathieuSoysal/Javadoc-publisher.yml@v2.4.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          javadoc-branch: javadoc
          java-version: 21
          java-distribution: temurin
          target-folder: docs
          project: gradle